<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Terms: <%= @term.name %></title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <h2>Name: </h2><%= @term.name %>
    <h2>Definition: </h2><%= @term.definition %>
    <h2>Author: </h2><%= @term.author %>
    <h2>Resource: </h2><a href="<%= @term.resource %>"><%= @term.resource %></a>

    <br>
    <br>
    <br>
    <a href="/terms/<%= @term.id %>/edit">Edit <%= @term.name %></a>
    <br>
    <br>
    <br>
    <button><a href="/">Take me <img src="/images/home.png" alt="Home" /></a></button>
    <br>
    <br>

    <form action="/terms/<%= @term.id %>" method="post">
      <input name="_method" value="delete" type="hidden">
      <input type="submit" value="Delete Term &#128515;">
    </form>
  </body>
</html>
