<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Glossary</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <h1>Edit <%= @term.name %></h1>
    <button><a href="/">Take me <img src="/images/home.png" alt="Home" /></a></button>
    <br>
    <form action="/terms/<%= @term.id %>" method="post">
      <input name="_method" value="put" type="hidden">
      <ul>
        <li>
          <label for="category_id">Category ID</label>
          <textarea name="term[category_id]" rows="1" cols="50"><%= @term.category_id %></textarea>
        </li>

        <li>
          <label for="name">Name</label>
          <textarea name="term[name]" rows="1" cols="50"><%= @term.name %></textarea>
        </li>

        <li>
          <label for="definition">Definition</label>
          <textarea name="term[definition]" rows="4" cols="50"><%= @term.definition %></textarea>
        </li>

        <li>
          <label for="author">Author</label>
          <textarea name="term[author]" rows="1" cols="50"><%= @term.author %></textarea>
        </li>

        <li>
          <label for="resource">Resource</label>
          <textarea name="term[resource]" rows="1" cols="50"><%= @term.resource %></textarea>
        </li>

        <li>
          <input type="submit" value="Edit Term &#128515;">
        </li>
      </ul>
    </form>
  </body>
</html>
